{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
<link rel=stylesheet type=text/css href="{{ bootstrap_find_resource('bootstrap.css', cdn='bootswatch') }}">
{% endblock %}

{% block navbar %}
{{nav.secnavbar.render()}}
{% endblock %}

{% block content %}
{%- with messages = get_flashed_messages(with_categories=True) %}
{%- if messages %}
{{utils.flashed_messages(messages)}}
{%- endif %}
{%- endwith -%}
{% endblock content %}

